* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.site {
    display: flex;
    flex-direction: column;
    justify-content:start;
}
.section{
    display: flex;
    width: 100vw;
    background-color: grey;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

    width: 100%;
    color:white;
    text-align: center;
    height: 30px;
    background-color: green;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    width: 100%;
    height: 75px;
    background-color: black;
    color: lightgreen;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbutton {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:30px;
    margin-right:30px;
}

.home{
    display: flex;
    flex-direction: column;
    background-color: black;
    height:100vh;
}
.home-message {
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top:250px;
    margin-bottom: auto;
    flex-wrap:wrap;
    font-size:4.5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellowgreen;
    background-color: black;
}
.about {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}
.content1 {
    color: yellowgreen;
    flex-grow:0;
    flex-shrink:0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:start;
    background-color: black;
    margin: 100px 50px 50px 50px;
    border-radius: 15px;
}
.description {
    margin: 10px 20px 10px 20px;
    text-align:center;
    
}
.picture{
    display:flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    height:auto;
    width:500px;
    color:yellowgreen;
    border-style:solid;
    border-color: yellowgreen;
    margin: 50vh 50vh 50vh 50vh;
    z-index: 3;
    box-shadow:0 0 30px yellowgreen;

}
.profilepic{
    border-color: yellowgreen;
    margin: 50px 10px 10px 10px;
    height:150px;
    width:150px;
    border-radius:100%;
    border-style:solid;
}
.skill {
    margin: 50vh 50vh 50vh 50vh;
    z-index: 2;
    border-style:solid;
    border-color: yellowgreen;
    width: 70%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    text-justify: center;
    box-shadow:0 0 30px yellowgreen;
}

.divskill {
    display: flex;
    flex-direction: row;
    height:100%;
    width:80%;
    margin: 10px 10px 10px 10px;
    border-style:dashed;
    border-color: yellowgreen;
    border-radius: 15px;
    align-content:center;
    justify-content:center;
}


.resumeskill {
    display: flex;
    flex-direction: column;
    height:100%;
    width:30%;
    margin: 10px 10px 10px 10px;
    border-style:dashed;
    border-color: yellowgreen;
    border-radius: 15px;
    align-items:center;
    justify-content:center;
}
.subskill {
    overflow: hidden;
    height:100%;
    width:80%;
    margin: 10px 10px 10px 10px;

}

.skilldesc{
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 25px;
    width:100%;
    /* border-style:dashed;
    border-color: yellowgreen; */
}
.parskill{
    margin: 10px 10px 10px 10px;

}
.icon{
    margin: 10px 10px 10px 10px;
    height:50px;
    width:50px;

}

.portfolio {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-content: center;
    justify-content:space-evenly;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    height:auto;
    flex-grow:inherit;
}

.content2{
    margin: 25px 25px 25px 25px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-items: start;
    background-color: black;
    height:500px;
    width:250px;
    border-style:solid;
    border-color: lightsalmon;
    border-radius: 15px;
    box-shadow:0 0 30px lightsalmon;
}

.websiteimg{
    margin: 20px 20px 20px 20px;
    height:200px;
    width:250px;
    border-style:solid;
    border-style:solid;
    border-color: lightsalmon;
}
.portfoliotext{
    color:lightsalmon;
    font-size:20px;
    margin: 20px 20px 20px 20px;

}
.contact{
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items:center;


}
.content3{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: start;
    background-color: black;
    height:600px;
    width:450px;
    margin: 200px 50px 50px 50px;
    border-style:solid;
    border-color: dodgerblue;
    border-radius: 15px;
    box-shadow:0 0 30px dodgerblue;

}
.contactbutton{
    display: flex;
    flex-direction: wrap;
    align-content: center;
    justify-content: center;
    height:40px;
    width: 150px;
    margin: 20px 10px 20px 10px;
    border-radius: 20px;
    background-color: dodgerblue;
    color:white;
    box-shadow:0 0 20px dodgerblue;
}
.contacttext{
    color:dodgerblue;
    font-size:25px;
    margin: 20px 10px 10px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contactpar{
    text-align: center;
    color:white;
    font-size:15px;
    margin: 10px 10px 10px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.labeltext {
    color:dodgerblue;
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 10px 10px 10px;


}

#messagebox{
    height:100px;
}

#submitmessage{
    height:40px;
    width: 70px;
    margin: 20px 10px 10px 10px;
    border-radius: 20px;
    background-color: dodgerblue;
    color:white;
    box-shadow:0 0 20px dodgerblue;

}
.blink {
    animation: blinker 1s step-start infinite;
  }


@keyframes blinker {
    50% {
      opacity: 0;
    }
}
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 2s steps(50, end)
}

  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.flipY {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }


@media only screen and (max-width: 600px){
    .hidden {
       display:none;
    }
    .picture{
        width:300px;
    }
    .content3{
        width:300px;    
    }
}

